body {
    background-color: #E5D8C7;
    padding: 0;
    margin: 0;
  
}
  
  
@font-face {
    src: url('/fonts/Memories.otf');
    font-family: Memories;
}
  
  
/* /////Scrollbar Custom///// */
::-webkit-scrollbar {
    height: 15px;
    
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #574D40;
    border-radius: 10px;
    margin: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: #574D40;
    border-radius: 10px;
    
}




header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;

    width: 100%;
    height: 100px;

    /* transition: 0.5s; */

    /* border: green solid 2px; */
}

/* header:hover {
    height: 140px;

    transition: 0.5s;
} */

header h1 a img {
    position: relative;
    left: 40px;
    bottom: 20px;
/* 
    transform: scaleX(-1); */

    height: 90px;
}

#aboutlink {
    position: relative;
    top: 40px;
    right: 40px;

    width: 140px;
}









main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;

    position: relative; 
    top: 100px;

    height: 1vh;
} 

/* #salon {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;


    height: 1vh;
} */

main ul {
    margin: 0 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;

    list-style: none;

    /* border: pink solid 2px; */
}

main ul:first-of-type {
    padding-left: 50px;
    justify-content: center;
}

main ul ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main ul ul li {
    margin: 0px;
}

main ul ul li h2 {
    text-align: center;
    width: 250px;
}

main ul:first-of-type img {
    width: 500px;
    
}

main ul:first-of-type li:first-of-type img {
    width: 600px;
}

main ul:first-of-type p {
    margin-top: 0;
    width: 600px;
    
   
}

main ul:first-of-type p::selection {
    color: #E5D8C7;
    background: #332d25;
}


main h2 {
    margin-top: 0px;

    font-family: Memories;
    font-size: 1.9em;
    color: #574D40;

    text-transform: capitalize;
    /* border: orange solid 2px; */
}


main img {
    width: 450px;

}

.pics {
    position: relative;
    top: -10px;
}

.pics img {

    margin: 22px 0;
}

.pics li:last-of-type {
    margin-bottom: 0px;
}





main p {
    margin: 0px 50px 20px 50px;

    font-family: Memories;
    font-size: 1.5em;
    color: #332d25;


    width: 600px;
    /* border: blue solid 2px; */
}

.tekst {
    justify-content: center;
}

.tekst li:last-of-type p {
    margin-bottom: 0px;
}

.tekst:last-of-type {
    padding-right: 100px;

}

.tekst p::selection {
    color: #E5D8C7;
    background: #332d25;
}

#onepage {
    /* border: orange solid 2px; */

    width: 580px;
    height: 650px;

    overflow-y: auto;
    
}

#onepage::-webkit-scrollbar {
    display: none;
}

#onepage li {
    position: relative;
    top: 0;
}

#onepage img {
    width: 550px;
    
}



main ul li p a {
    font-family: Memories;
    color: #574D40;
    text-decoration: none;
    text-transform: uppercase;
}

main ul li p a:hover {
    
    text-decoration: underline;
}







footer a button {
    width: 80px;
    height: 60px;

    background-color: #E5D8C7;
    border: none;
    /* border: green solid 3px; */
    border-radius: 10px;

}

footer .vorige {
    position: fixed;
    bottom: 20px;
    left: 0%;

    transform: rotate(90deg);
}

footer .volgende {
    position: fixed;
    bottom: 20px;
    left: calc(100% - 80px);

    transform: rotate(270deg);
}

footer a button div {
    width: 40px;
    height: 40px;
    /* background-color: red; */

    position: relative;
    top: calc(50% - 38px);
    left: calc(50% - 24px);

    transform: rotate(45deg);

    border-bottom: #574D40 8px solid;
    border-right: #574D40 8px solid;
    border-radius: 5px;
}

/* footer a button h3 {
    width: 350px;

    /* opacity: 0; */
    /* border: green 3px solid; 
}


footer .vorige button h3 {
    position: fixed;
    right: -140px;
    bottom: 250px;

    font-family: Memories;
    font-size: 1.5em;
    color: #332d25;

    text-transform: capitalize;

    transform: rotate(270deg);
    transition: .3s;
}

footer .volgende button h3 {
    position: fixed;
    left: -140px;
    bottom: 250px;

    font-family: Memories;
    font-size: 1.5em;
    color: #332d25;

    text-transform: capitalize;

    transform: rotate(90deg);
    transition: .3s;
}
*/

footer button:hover {
    cursor: pointer;
    /* font-size: 1.8em; */

    /* color: #332d25; */

    /* opacity: 1; */

    /* transition: .2s; */
} 

.visible {
    opacity: 1;
}






/* @keyframes hoverNext {
    0% {
        height: 35px;
    }

    50% {
        height: 70px;
    
    }

    100% {
        height: 70px;

    }

}

footer button:hover {
    animation-name: hoverNext;
    animation-duration: .4s;
    
}  */







